{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'account/css/register.css' %}">

{% endblock meta %}


{% block content %}
    <div id="register-center">
        <div id="register-form-center">
            <h1 style="text-align: center;">Sign<span style="color:#ff5003; font-style: italic;"> up</span></h1>
            <form method="POST" action="" style="text-align: center;">
                {% csrf_token %}
                    <input type="text" id="username-field" name="username" required placeholder="Username">
                    <br>
                    
                    <input type="password" id="password-field" name="password1" required placeholder="Password">
                    <br>
                    <input type="password" id="password-field" name="password2" required placeholder="Password confirmation">
                    <br>

                    <select  name="role" class="form-select" aria-label="Default select example">
                        <option selected >Select role</option>
                        <option value="1">Admin</option>
                        <option value="2">User</option>
                      </select>
                    <br>
                    <input id="register-btn" type="submit" value="Register">
                    
                    <br>
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    
                    <a style="color:  #003f7d;" href="{% url 'account:login_user' %}">Sudah punya akun</a>
            </form>
        </div>

    </div>

{% endblock content %}