{% extends 'landing_page.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock meta %}

{% block content %}

  <main id="" style="padding-top: 50px; display: flex; justify-content: center; flex-direction: column;">
    
    <div class="input-group mb-4">
      <div class="input-group-append">
        <select class="custom-select" id="searchCategory">
            <option value="title">Title</option>
            <option value="authors">Author</option>
            <option value="description">Description</option>
            <option value="categories">Category</option>
        </select>
      </div>
      <input type="text" class="form-control" id="search" placeholder="Search Books">
    </div>

    
  <div id="product_cards" class="card-group"></div>
    

  </main>

    <script>
        async function getProducts() {
            return fetch("{% url 'main:get_books_json' %}").then((res) => res.json())
        } 
    
        async function refreshProducts() {
            const productCardsContainer = document.getElementById("product_cards");
            productCardsContainer.innerHTML = "";
            
            const products = await getProducts();
            const searchInput = document.getElementById("search");
            const searchText = searchInput.value.trim().toLowerCase();
            const searchCategory = document.getElementById("searchCategory").value;
        
            products.forEach((product) => {
                const productValue = product.fields[searchCategory].toLowerCase();
                
        
                if (productValue.includes(searchText) || (searchText === "")) {
                const card = document.createElement("div");
                card.classList.add("col-3");
        
                card.innerHTML = `
                    <div class="card mb-3 book-card">
                        <img src='${product.fields.thumbnail}' alt="${product.fields.title} cover image" class="book-cover">
                        <div class="product-information">   
                            <div class="card-body"> 
                            <p class="book-title">${product.fields.title}</p>
                            <p class="book-authors">${product.fields.authors}</p>
                            <p class="book-text">${truncateDescription(product.fields.description, 100)}</p>
                            </div>
                            <div class="review-container">
                                <div class="d-flex">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <p  class="book-review-count">${product.fields.review_points/product.fields.review_count} | </p>
                                </div>
                                <a href="{% url 'main:show_main' %}">See reviews</a>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Year published: ${product.fields.published_year}</li>
                        </ul>
                        <div class="card-body">
                            <div class="d-flex"> 
                                <button type="button" class="btn btn-primary" style="margin:10px" data-bs-toggle="modal" data-bs-target="#exampleModal">Add to Bookmark</button>
                                <a href="{% url 'account:profile' %}" type="button" class="btn btn-primary" style="margin:10px" >Add to Collection</a>
                            </div>
                        </div>
                    </div>`;
        
                productCardsContainer.appendChild(card);
                }
            });
            
            document.getElementById("list-books").innerHTML = htmlString
        }
    
        function truncateDescription(description, limit) {
            if (description.length > limit) {
                return description.substring(0, limit) + '...';
            }
            return description;
        }
    
    
        // Attach the refreshProducts function to the input field's input event
        const searchInput = document.getElementById("search");
        searchInput.addEventListener("input", refreshProducts);
    
        // Attach the refreshProducts function to the select element's change event
        const searchCategorySelect = document.getElementById("searchCategory");
        searchCategorySelect.addEventListener("change", refreshProducts)
    
    
        refreshProducts()
      
    </script>

{% endblock content %}