{% extends 'landing_page.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'main/css/landing_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock meta %}

{% block content %}

  <main id="" style="padding-top: 50px; display: flex; justify-content: center; flex-direction: column;">
    
    <div class="input-group mb-4">
      <div class="input-group-append">
        <select class="custom-select" id="searchCategory">
            <option value="title">Title</option>
            <option value="authors">Author</option>
            <option value="description">Description</option>
            <option value="categories">Category</option>
        </select>
      </div>
      <input type="text" class="form-control" id="search" placeholder="Search Books">
    </div>

    
  <div id="product_cards" class="card-group"></div>
    

  </main>
    
    <script src="{% static 'main/js/landing_page_user.js'%}"></script>



{% endblock content %}